:host{
  position: relative;
}

.g-app{
  margin: auto;
  text-align: center;

  .g-circuit-container {
    border: 1x solid black;
   
  
    .g-canvas{
      background-color: rgb(54, 65, 65);
    }
  }
 
}
